#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  wallos-app.service
BindsTo=wallos.service
After=wallos.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/wallos-app.pid %t/wallos-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/wallos-app.pid \
    --cidfile %t/wallos-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/wallos.pod-id --replace -d --name  wallos-app \
    --volume db:/var/www/html/d \
    --volume logos:/var/www/html/images/uploads/logos \
    --env=WALLOS_* \
    --env TZ=Africa/Nairobi \
    ${WALLOS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/wallos-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP wallos-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/wallos-app.ctr-id
PIDFile=%t/wallos-app.pid
Type=forking

[Install]
WantedBy=default.target
